
/* reset.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* general css */

/* body */
body{
    background: var(--zwart);
    background-color: #000;
}

/* title */
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
    font-size: 30px;
}

/* navigation */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--zwart);
    padding: 10px 20px;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: transform 0.3s ease, font-size 0.3s;
}

li:hover{
    font-size: 21px;
    transform: scale(1.2);
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

/* main */
main{
    flex: 1;
    height: 100vh;
}

/* footer */
footer{
    background-color: #000;
    color: wheat;
    height: auto;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
}


/* Variables */
/* kleurenpallet */
:root{
    /* Moria en Mordor */
    --darkgrey: #2c2c2c;
    --black: #000;
    --reddish-brown: #8b4513;
    --grey: #808080;
    /* Rivendel */
    --light-green: #90ee90;
    --gold-yellow: #ffd700;
    --skyblue: #87ceeb;
    --pearly-white: #f5f5f5;
    /* De Gouw: */
    --green: #008000;
    --beige: #f5f5dc;
    /* Rohan */
    --grasgroen: #228B22;
    --lichtbruin: #A0522D;
    --Zachtgroen: #98FB98;
    /* Isengard */
    --donkergroen: #006400;
    --lichtgrijs: #D3D3D3;
    /* Lothlórien */
    --zilver: #C0C0C0;
    --donkergroen: #013220;
    --lichtgoud: #E6BE8A;
    /* Helm's Deep */
    --donkerblauw: #00008B;
    /* Minas Tirith */
    --wit: #FFFFFF;
}


/*fonts*/
@font-face {
    src: url("../assets/fonts/RingbearerMedium-51mgZ.ttf");
    font-family: 'Ringbearer Medium';
    --lotr-font: 'Ringbearer Medium';
}
