@import url('variables.css');
.login-clean {
    background:#000;
    padding:80px 0;
  }
  
  .login-clean form {
    max-width:500px;
    width:90%;
    margin:0 auto;
    background-color:#2c2c2c;
    padding:40px;
    border-radius:4px;
    color:#2c2c2c;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .login-clean .illustration {
    text-align:center;
    padding:0 0 20px;
    font-size:100px;
   color: #ffd700;
  }
  
  .login-clean form .form-control {
    background:#f5f5dc;
    border:none;
    border-bottom:1px solid #f5f5dc;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:8px;
    height:42px;
    font-family: 'Ringbearer Medium';
  }
  
  .login-clean form .btn-primary {
    background:#ffd700;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none !important;
  }
  
  .login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
    background:#808080;
  }
  
  .login-clean form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .login-clean form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#ffd700;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-clean form .forgot:hover, .login-clean form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .L{
    text-align: center;
    font-size: x-large;
    font-family: 'Ringbearer Medium';
  }

  img{
    width: 150px;
  }