@import url('variables.css');

body{
    background: white;
}

h2{
    text-align: center;
    font-family: 'Ringbearer Medium';
    color: var(--goudgeel);
    margin-bottom: 2.5%;
}

form{
    width: 50%;
    background: var(--donkergrijs);
    margin-left: 20%;
    padding: 5%;
    border-radius: 10px;
}

label{
    margin-right: 25%;
    color: var(--parelwit);
}

input{
    margin-top: -15px;
    margin-left: 60%;
}

input::placeholder{
    opacity: 0.5;
}

button {
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, var(--goudgeel), var(--lichtgrijs));
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto;
}

button:hover {
    background: linear-gradient(135deg, var(--lichtgrijs), var(--goudgeel));
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.95);
}
