@import url('general.css');

/* css for landing.html */

.landing{
    h2{
        margin-bottom: 5%;
        text-align: center;
        font-family: 'Ringbearer Medium';
        color: var(--goudgeel);
    }
    
    .gameChoice{
        text-align: center;
        font-weight: bold;
    }
    
    /* main */
    .games-list{
        height: 100vh;
    }
    
    .games{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
        grid-template-areas: 
        "game1 game2"
        "game3 game4"
        "game5 game6";
        grid-gap: 10px;
        margin-left: 10%;
        margin: 1% 0 0 20%;
        height: 100%;
    }
    
    .game{
        display: flex;
        justify-content: center;
        border-radius: 10px;
        align-items: center;
        background: var(--zwart);
        width: calc(50%-20px);
        max-width: 300px;
        height: 150px;
        border: 3px solid #007BFF;
        cursor: pointer;
        font-size: 18px;
        font-family: Arial, sans-serif;
        transition: transform 0.3s ease, 
                    font-size 0.3s;
        background-position: calc(100%-20px) calc(100%-20px);
        background-size: contain; /* werkt niet */
    }
    
    .game:hover{
        transform: scale(1.1);
        opacity: 0.5;
        box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
    }
    
    .game p{
        color: white;
        font-size: 20px;
        font-weight: bold;
        transition: transform 0.3s ease, 
                    font-size 0.3s;
        text-decoration: none;
    }
    
    .game .source{
        position: absolute;
        font-size: 12px;
        margin-bottom: -130px;
        margin-left: 170px;
    }
    
    .game1{
        grid-area: game1;
        background-image: url("../assets/images/image1_large.png");    
        background-size: contain;
        background-position: center;
    }
    .game2{
        grid-area: game2;
        background-image: url("../assets/images/fifa_large.png");
    }
    .game3{
        grid-area: game3;
        background-image: url("../assets/images/fortnite_large.png");
    }
    .game4{
        grid-area: game4;
        background-image: url("../assets/images/legoMaster_large.png");
    }
    
    .game5{
        grid-area: game5;
        background-image: url("../assets/images/mtg_large.png");
    }
    
    .game6{
        grid-area: game6;
        background-image: url("../assets/images/pokemon_large.png");
    }
    
    footer{
        margin-top: 10%;
    }
}


/* css for index.html */

