@import url("variables.css");
/* general css */
body{
    background-color: black;
}


/* css for landing.html */
.landing{
    h2{
        margin-bottom: 5%;
        text-align: center;
        font-family: 'Ringbearer Medium';
        color: var(--goudgeel);
        font-size: 30px;
    }
    
    .gameChoice{
        text-align: center;
        font-weight: bold;
    }
    
    /* main */
    .games-list{
        height: 100vh;
    }
    
    .games{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
        grid-template-areas: 
        "game1 game2"
        "game3 game4"
        "game5 game6";
        grid-gap: 10px;
        margin-left: 10%;
        margin: 1% 0 0 20%;
        height: 100%;
    }
    
    .game{
        display: flex;
        justify-content: center;
        border-radius: 10px;
        align-items: center;
        background: #002b7b;
        width: calc(50%-20px);
        max-width: 300px;
        height: 150px;
        border: 3px solid #007BFF;
        cursor: pointer;
        font-size: 18px;
        font-family: Arial, sans-serif;
        transition: transform 0.3s ease, 
                    font-size 0.3s;
        background-position: calc(100%-20px) calc(100%-20px);
    }
    
    .game:hover{
        transform: scale(1.1);
        opacity: 0.5;
        /* box-shadow: 5px 5px 5px white; x-as, y-as, blur, kleur */
        box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
    }
    
    .game p{
        color: white;
        font-size: 20px;
        font-weight: bold;
        transition: transform 0.3s ease, 
                    font-size 0.3s;
        text-decoration: none;
    }
    
    .game .source{
        position: absolute;
        font-size: 12px;
        margin-bottom: -130px;
        margin-left: 170px;
        /* margin-left: calc(50%+100px); */
    }
    
    .game1{
        grid-area: game1;
        background-image: url("../assets/images/image1_large.png");
        
    }
    .game2{
        grid-area: game2;
        background-image: url("../assets/images/fifa_large.png");
    }
    .game3{
        grid-area: game3;
        background-image: url("../assets/images/fortnite_large.png");
    }
    .game4{
        grid-area: game4;
        background-image: url("../assets/images/legoMaster_large.png");
    }
    
    .game5{
        grid-area: game5;
        background-image: url("../assets/images/mtg_large.png");
    }
    
    .game6{
        grid-area: game6;
        background-image: url("../assets/images/pokemon_large.png");
    }
    
    footer{
        margin-top: 10%;
    }
}

/* css for registration.html */

.registration{

    body{
        background: #000;
    }
    
    h2{
        text-align: center;
        font-family: 'Ringbearer Medium';
        color: var(--goudgeel);
        margin-bottom: 2.5%;
    }
    
    form{
        width: 50%;
        background: var(--donkergrijs);
        margin-left: 20%;
        padding: 5%;
        border-radius: 10px;
    }
    
    label{
        margin-right: 25%;
        color: var(--parelwit);
    }
    
    input{
        margin-top: -15px;
        margin-left: 60%;
    }
    
    input::placeholder{
        opacity: 0.5;
    }
    
    .forgot-password{
        margin: 2%;
        color: var(--lichtgrijs);
        font-family: "Arial";
        font-size: 12px;
        margin-left: 60%;
        text-decoration: none;
    }
    
    .forgot-password:hover{
        color: var(--hemelsblauw);
    }
    
    button {
        height: 40px;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        background: linear-gradient(135deg, var(--goudgeel), var(--lichtgrijs));
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    button:hover {
        background: linear-gradient(135deg, var(--lichtgrijs), var(--goudgeel));
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    button:active {
        transform: scale(0.95);
    }
}


/* css for resetPassword.html */
.resetPassword{
    
    h2{
        text-align: center;
        font-family: 'Ringbearer Medium';
        color: var(--goudgeel);
        margin-bottom: 2.5%;
    }
    
    form{
        width: 50%;
        background: var(--donkergrijs);
        margin-left: 20%;
        padding: 5%;
        border-radius: 10px;
    }
    
    label{
        margin-right: 25%;
        color: var(--parelwit);
    }
    
    input{
        margin-top: -15px;
        margin-left: 60%;
    }
    
    input::placeholder{
        opacity: 0.5;
    }
    
    .eyeIcon{
        color: var(--donkergrijs);
        font-size: 18px;
        margin-left: -5%;
        opacity: 0.5;
        cursor: pointer;
    }
    
    button {
        height: 40px;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        background: linear-gradient(135deg, var(--goudgeel), var(--lichtgrijs));
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3% auto;
    }
    
    button:hover {
        background: linear-gradient(135deg, var(--lichtgrijs), var(--goudgeel));
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    button:active {
        transform: scale(0.95);
    }
}




/* css for login.html */
/* css for index.html */
/* css for quiz.html */
/* css for favoriteCharacter.html */
.favCharacter{
    
}


/* css for favorite-character.html */
/* css for blacklist.html */
/* css for account.html */

